/* 
Cores
azul
#000328
#00458E
cinza
#243748
#4B749F

background: hsla(236, 100%, 8%, 1);
background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000328", endColorstr="#00458e", GradientType=1 );
*/

html, body{
    margin: 0;
    padding: 0;
    background-color: #d2f2ff;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
}

body > header{
    width: calc(100% - 32px);
    height: 70px;
    background: #00163d; 
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

body > header nav a{
    color:white;
    text-decoration: none;
    padding: 0 0 8px 0;

}

body > header nav a:hover{
    color:#02a0e1;
    border-bottom: 2px solid #02a0e1;
    padding: 0 0 8px 0;
}

body > header nav a.active{
    color:#02a0e1;
    border-bottom: 2px solid #02a0e1;

}

body header div a {
    text-decoration: none;
}

.logotipo{
    width: 300px;
    height: 50px;
    background-color:rgb(8, 29, 51);

    display: flex;
    align-items: center;
    gap: 16px;

    font-family:Arial, Helvetica, sans-serif ;
}

.logotipo img{
    width: 45px;
    height: 45px;
}
.logotipo h1{
    color: white;
    margin: 0;
}

.logotipo h1 span{
    color: #02a0e1;
    margin: 0;
}

header nav{
    background-color: rgb(8, 29, 51);
    color: white;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

button{
    background: #02a0e1;
    color: #d2f2ff;

    padding: 10px 20px;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    
}

body > main{
    background: #9fdef7;
    min-height: calc(100vh - 302px);
    padding: 16px;

    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

body > footer{
    background:#00163d;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    position: absolute;
    background: #d2f2ff4b;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.modal main{
    width: 400px;
    height: 500px;
    background: #4ec9faee;
    padding: 20px;

    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal main h2{
    margin: 0;
    text-align: center;
}

.modal main form{
    display: flex;
    flex-direction: column;
}

.modal main form button{
    margin-top: 15px;
}

.card-tincker{
    position: relative;
    width: 250px;
    height: 170px;
    background: #d2f2ff;
    border-radius: 20px;
    padding: 16px;

    align-self: baseline;

}

.card-menu{
    display: none;
    position: absolute;
    background: #b6e4f6bb;
    backdrop-filter: blur(1px);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 20px;

    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-tincker span{
    cursor: pointer;
    gap: 15px;
}

.card-tincker header{
    display: flex;
    justify-content: space-between;
    color: #02a0e1;
    align-items: center;

}

.card-tincker header h2{
    margin: 0;
    font-size: 14px;
}

.card-tincker header h2 span{
    font-weight: normal;
}

.card-tincker header h1{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.card-tincker main p{
    font-size: 32px;
    margin: 10px 0 2px 0;
    color:#041e4d;
}

.card-tincker main span{
    padding: 3px 6px;
    margin: 0 8px 0 0;
    border-radius: 12px;
    font-size: 14px;
    color: #00163d;
}

.card-tincker main span:nth-child(2){
    background: rgb(20, 218, 20);
    padding: 3px 6px;
    margin: 0 2px 0 0;
    border-radius: 12px;
    font-size: 14px;
    color: white;
}

.card-tincker footer{
    display: flex;
    justify-content: space-between;
    
    
}

.card-tincker footer div:nth-child(2){
    text-align: right;
}

.card-tincker footer div p{
    margin: 0;
    font-size: 18px;
    margin-top: 20px;
    color:#00163d;
}

.card-tincker footer div span{
    font-size: 15px;
    color: #02a0e1;
}

table{
    border-collapse: collapse;
}

th, td{
    color: #041e4d;
    border: 1px solid;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color:#d2f2ff;
}
tr:nth-child(odd){
    background-color:aliceblue;
}

fieldset{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    margin: 0 0 30px 0;
}

fieldset h5{
    font-size: 20px;
}

input[type=text], input[type=email], input[type=password], select, textarea{
    padding: 5px 10px;
    border-radius: 10px;
    margin: 3px 0 16px 0;
    border: none;
    background-color:aliceblue;
}

legend{
    font-size: 1.2rem;
    padding: 0 10px 0 10px
}

input[type=submit], input[type=reset]{
    border: 1px solid #02a0e1;
    border-radius: 30px;
    padding: 10px 20px;

    color: #d2f2ff;
    background-color:#00163d;
    font-size: 1.1rem;
    margin: 16px 16px 16px 0;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover{
    background-color:rgb(157, 204, 255);
}

#banner{
    width: 100%;
    height: 350px;
    background: #041e4d;
    background-image: url('../img/apresentacao.gif');
    background-size: cover;
    border-radius: 50px;
}

nav div{
	display: none;
}

@media (width <= 700px) {
	header nav ul {
		display: none;
	}
	header nav div {
		display: block;
	}
}

@media (width <= 600px) {
	body > main {
		justify-content: center;
	}
}

@media (width <= 400px) {
	.card-ticker {
		width: 100%;
	}
}